<div class="center hero-unit">
<h1>Welcome to Super Zapatos App</h1>
    <h2>
		Start Page for
		<a href="http://rubyonrails.org/">Super Zapatos App</a>.
</h2> 
<%= link_to "Insert Stores!", 'stores', class: "btn btn-large btn-primary" %>
<%= link_to "Insert Articles!", 'articles', class: "btn btn-large btn-primary" %>
</div>
